In [50]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import warnings
import numpy as np 
import plotly.express as px
import os
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

In [51]:
current_directory = os.getcwd()
churn_data = pd.read_csv(f'{current_directory}\\customer_churn_analysis_cleaned.csv')
churn_data

,CustomerID,Age,FirstTransactionDate,LastTransactionDate,TotalAmountSpent,FirstInteractionDate,LastInteractionDate,TotalServiceInteractions,LoginFrequency,TransactionCount,...,MaritalStatus_Widowed,Gender_F,Gender_M,IncomeLevel_High,IncomeLevel_Low,IncomeLevel_Medium,ServiceUsage_Mobile App,ServiceUsage_Online Banking,ServiceUsage_Website,AgeGroup
0,1,62,2022-03-27,2022-03-27,416.50,2022-03-31 00:00:00,2022-03-31 00:00:00,1.0,34,1,...,False,False,True,False,True,False,True,False,False,55-64
1,2,65,2022-01-09,2022-11-19,1547.42,2022-03-17 00:00:00,2022-03-17 00:00:00,1.0,5,7,...,False,False,True,False,True,False,False,False,True,65-69
2,3,18,2022-02-11,2022-10-08,1702.98,2022-08-24 00:00:00,2022-08-24 00:00:00,1.0,3,6,...,False,False,True,False,True,False,False,False,True,18-24
3,4,21,2022-05-22,2022-12-27,917.29,2022-07-03 00:00:00,2022-11-18 00:00:00,2.0,2,5,...,True,False,True,False,True,False,False,False,True,18-24
4,5,21,2022-02-21,2022-12-21,2001.49,2023-07-10 12:00:00,2023-07-10 12:00:00,0.0,41,8,...,False,False,True,False,False,True,False,False,True,18-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,54,2022-07-24,2022-07-24,227.25,2023-07-10 12:00:00,2023-07-10 12:00:00,0.0,38,1,...,False,True,False,False,True,False,True,False,False,45-54
996,997,19,2022-08-06,2022-10-25,419.82,2023-07-10 12:00:00,2023-07-10 12:00:00,0.0,5,2,...,True,False,True,True,False,False,True,False,False,18-24
997,998,47,2022-09-18,2022-09-18,252.15,2023-07-10 12:00:00,2023-07-10 12:00:00,0.0,47,1,...,False,False,True,False,True,False,False,False,True,45-54
998,999,23,2022-01-20,2022-12-07,2393.26,2023-07-10 12:00:00,2023-07-10 12:00:00,0.0,23,9,...,True,False,True,True,False,False,False,False,True,18-24
999,1000,34,2022-04-08,2022-12-13,1670.79,2023-07-10 12:00:00,2023-07-10 12:00:00,0.0,22,6,...,True,False,True,False,True,False,True,False,False,25-34

In [52]:
churn_data.drop(columns=['CustomerID', 'FirstTransactionDate', 'LastTransactionDate', 'FirstInteractionDate', 'LastInteractionDate'], inplace=True)

X = churn_data.drop(columns=['ChurnStatus', 'LastLoginDate', 'AgeGroup'])
y = churn_data['ChurnStatus']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_train, y_train)

y_pred = rf_classifier.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy:.2f}")
print("\nClassification Report:\n", classification_rep)

sample = X_test.sample(n=5, random_state=42) 
predictions = rf_classifier.predict(sample)

for i, (idx, row) in enumerate(sample.iterrows()):
    print(f"\nSample Customer (index {idx}): {row.to_dict()}")
    print(f"Predicted Churn Status: {'Not Churned' if predictions[i] == 0 else 'Churned'}")

Accuracy: 0.75

Classification Report:
               precision    recall  f1-score   support

           0       0.76      0.98      0.86       190
           1       0.25      0.02      0.03        60

    accuracy                           0.75       250
   macro avg       0.51      0.50      0.44       250
weighted avg       0.64      0.75      0.66       250


Sample Customer (index 721): {'Age': 43, 'TotalAmountSpent': 814.74, 'TotalServiceInteractions': 1.0, 'LoginFrequency': 25, 'TransactionCount': 3, 'MaritalStatus_Divorced': True, 'MaritalStatus_Married': False, 'MaritalStatus_Single': False, 'MaritalStatus_Widowed': False, 'Gender_F': True, 'Gender_M': False, 'IncomeLevel_High': True, 'IncomeLevel_Low': False, 'IncomeLevel_Medium': False, 'ServiceUsage_Mobile App': False, 'ServiceUsage_Online Banking': False, 'ServiceUsage_Website': True}
Predicted Churn Status: Not Churned

Sample Customer (index 626): {'Age': 33, 'TotalAmountSpent': 1929.48, 'TotalServiceInteractions': 1.0, 'LoginFrequency': 49, 'TransactionCount': 6, 'MaritalStatus_Divorced': False, 'MaritalStatus_Married': True, 'MaritalStatus_Single': False, 'MaritalStatus_Widowed': False, 'Gender_F': True, 'Gender_M': False, 'IncomeLevel_High': False, 'IncomeLevel_Low': False, 'IncomeLevel_Medium': True, 'ServiceUsage_Mobile App': False, 'ServiceUsage_Online Banking': False, 'ServiceUsage_Website': True}
Predicted Churn Status: Not Churned

Sample Customer (index 88): {'Age': 24, 'TotalAmountSpent': 1951.99, 'TotalServiceInteractions': 0.0, 'LoginFrequency': 12, 'TransactionCount': 7, 'MaritalStatus_Divorced': False, 'MaritalStatus_Married': False, 'MaritalStatus_Single': True, 'MaritalStatus_Widowed': False, 'Gender_F': False, 'Gender_M': True, 'IncomeLevel_High': False, 'IncomeLevel_Low': False, 'IncomeLevel_Medium': True, 'ServiceUsage_Mobile App': True, 'ServiceUsage_Online Banking': False, 'ServiceUsage_Website': False}
Predicted Churn Status: Not Churned

Sample Customer (index 296): {'Age': 45, 'TotalAmountSpent': 1714.09, 'TotalServiceInteractions': 0.0, 'LoginFrequency': 3, 'TransactionCount': 8, 'MaritalStatus_Divorced': False, 'MaritalStatus_Married': True, 'MaritalStatus_Single': False, 'MaritalStatus_Widowed': False, 'Gender_F': False, 'Gender_M': True, 'IncomeLevel_High': False, 'IncomeLevel_Low': True, 'IncomeLevel_Medium': False, 'ServiceUsage_Mobile App': True, 'ServiceUsage_Online Banking': False, 'ServiceUsage_Website': False}
Predicted Churn Status: Not Churned

Sample Customer (index 985): {'Age': 55, 'TotalAmountSpent': 1392.61, 'TotalServiceInteractions': 2.0, 'LoginFrequency': 49, 'TransactionCount': 7, 'MaritalStatus_Divorced': False, 'MaritalStatus_Married': False, 'MaritalStatus_Single': True, 'MaritalStatus_Widowed': False, 'Gender_F': True, 'Gender_M': False, 'IncomeLevel_High': False, 'IncomeLevel_Low': True, 'IncomeLevel_Medium': False, 'ServiceUsage_Mobile App': False, 'ServiceUsage_Online Banking': True, 'ServiceUsage_Website': False}
Predicted Churn Status: Not Churned